<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.kamishasapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.kamishasapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kamishasapplication.app.modules.people.ui.PeopleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.notificationsmainfrominterestspeople.ui.NotificationsMainFromInterestsPeopleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.interests.ui.InterestsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.customsearch.ui.CustomSearchActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.exploreposts.ui.ExplorePostsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.privacypolicyview.ui.PrivacyPolicyViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.login.ui.LogInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.notificationsmainfromexploreposts.ui.NotificationsMainFromExplorePostsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.notificationsmain.ui.NotificationsMainActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.loginone.ui.LogInOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.notificationsmainfrompublishedposts.ui.NotificationsMainFromPublishedPostsActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.kamishasapplication.app.modules.unstuck.ui.UnstuckActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.kamishasapplication.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.notificationsmainfromintereststopics.ui.NotificationsMainFromInterestsTopicsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.privacypolicy.ui.PrivacyPolicyActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.termsandconditions.ui.TermsAndConditionsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.publishedposts.ui.PublishedPostsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.notificationsmainfromhome.ui.NotificationsMainFromHomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.topics.ui.TopicsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kamishasapplication.app.modules.termsandconditionsview.ui.TermsAndConditionsViewActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
